* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Montserrat;
}

body {
	background: #063f47;
	color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.contenedor {
	padding: 15px;
	background: #036370;
	display: flex;
	gap: 15px;
	width: 600px;
	flex-direction: column;
	border-radius: 4px;
	margin-top: 30px;
}

.boton {
	padding: 5px 5px;
	width: 140px;
	max-width: 100%;
	background-color: #063f47;
	color: #fff;
	border: none;
	outline: none;
	transition: transform 0.3s;
	border-radius: 2px;
}
.boton:hover {
	cursor: pointer;
	transform: translateY(-1px);
}

input {
	width: 250px;
	max-width: 100%;
	margin: 3px 0 2px;
	padding: 6px;
	width: 400px;
	max-width: 95%;
	outline: none;
	border: none;
	transition: border 0.1s;
	border-radius: 2px;
}

input:focus {
	border-bottom: solid 4px #059635;
}

img {
	width: 100%;
	vertical-align: top;
}

.contenido {
	display: flex;
	flex-wrap: wrap;
}

.cuadro {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid black;
	text-align: center;
	line-height: 50px;
	font-size: 2.5em;
	margin: 5px;
	color: white;
	font-weight: bold;
}

.rojo {
	background-color: red;
}

.verde {
	background-color: green;
}

.monedas img {
	width: 23px;
	margin: 10px 2px 0;
}

.grande {
	font-size: 1.5em;
	color: red;
}
